.backgrround {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-indigo-100);
  width: 1920px;
  height: 1080px;
}

.login-form{

  position: absolute;
  width: 614px;
  height: 466px;
  left: 653px;
  top: 364px;

  background: rgba(235, 235, 222, 0.8);
  border-radius: 30px;

}

.info-message{
  position: absolute;
  width: 614px;
  height: 27px;
  left: 653px;
  top: 305px;

  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 27px;
  text-align: center;

  color: #FFFEC9;
}

.button3,
.div25,
.login-form3 {
  position: absolute;
}
.button3 {
  top: 0;
  left: 0;
  border-radius: var(--br-lg);
  background-color: var(--color-gray-200);
  width: 456px;
  height: 60px;
}
.div25 {
  top: 10px;
  left: 178px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 40.41px;
}
.login-btn{
  position: absolute;
  width: 456px;
  height: 60px;
  left: 732px;
  top: 672px;

  background: #6F72B4;
  border-radius: 40px;

}
.btn-text{
  position: absolute;
  width: 100px;
  height: 40.41px;
  left: 910px;
  top: 682px;
  
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 33px;
  display: flex;
  align-items: center;
  text-align: center;
  
  color: #FFFEC9;
}

.login-btn1 {

  top: 672px;
  left: 732px;
  width: 456px;
  height: 60px;
  cursor: pointer;
  font-family: var(--font-noto-serif);
}
.button4,
.div26,
.login-btn {
  position: absolute;
}
.button4 {
  top: 0;
  left: 0;
  border-radius: var(--br-lg);
  background-color: var(--color-indigo-100);
  width: 456px;
  height: 60px;
}
.div26 {
  top: 10px;
  left: 138px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 180px;
  height: 40px;
}
.signup-btn {
  position: absolute;
  top: 746px;
  left: 732px;
  width: 456px;
  height: 60px;
  font-family: var(--font-noto-serif);
}
.div27 {
  top: 305px;
  left: 653px;
  font-size: var(--font-size-sm);
  font-weight: 500;
  width: 614px;
}
.div27,
.div28,
.div29 {
  position: absolute;
  display: inline-block;
}
.div28 {
  top: 631px;
  left: 730px;
  font-size: var(--font-size-xs);
  font-weight: 500;
  color: var(--color-orange);
  width: 460px;
}
.div29 {
  top: 214px;
  left: 821px;
  font-size: var(--font-size-lg);
  font-weight: 300;
  font-family: var(--font-pyeongchang-peace);
}
.login-error-child {
  position: absolute;
  top: 472px;
  left: 732px;
  width: 458px;
  height: 109.5px;
}
.email,
.password {
  position: absolute;
  top: 435px;
  left: 732px;
  font-weight: 300;
  color: var(--color-indigo-100);
  text-align: left;
  display: inline-block;
  width: 74px;
}
.password {
  top: 542px;
  width: 132px;
}
.login-error {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1080px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-beige-100);
  font-family: var(--font-noto-sans);
}
