.form-control {
    text-align: center;
    position: relative;
    /* margin-left: 28%; */
    background-color: #161950;
    color: #FFFEC9;
    width: 500px;
    height: 300px;
    top: 50px;
    /* margin-bottom: auto; */
    margin : 0 auto;
}
.form-control input{
    /* position: relative;
    text-align: center; */
    /* margin-left: 35%; */
    border-radius: 15px;
    background-color:#161950;
    color: #FFFEC9;
    width: 300px;
    height: 70px;
    font-size: 20px;
    border-style:solid;
    border-color: #FFFEC9;
    margin : 5%;
    /* margin-bottom: 15px; */
}
input::placeholder{
    padding: 10px;
    color: #fafadd;
}
.login_btn{
    text-align: center;
    padding: 10px 10px;
}

.wish_buttons {
    /* top:40%;*/
    background-color:#161950;
    color: #FFFEC9;
    border:none;
    border-radius: 35px;
    min-height: 70px; 
    min-width: 170px;
    font-size: 30px;
    border-style:solid;
    border-color: #FFFEC9;
    /* z-index: 2; */
}

