

.form-control {
    text-align: center;
    position: relative;
    width: 800px;
    height: 500px;
    border-radius: 15px;
    margin : 0 auto;
    background-color: #EBEBDECC;
}
.form-control input{
    border-top: none;
    border-left:none;
    border-right: none;
    border-bottom: 3px #161950 solid;
    background-color:transparent; 
    margin : 0 auto;
    position: relative;
    top: 10%;
    margin-top: 10%;
    display: block;
    width: 458px;
    height: 70px;
    font-size: 20px;
}
input::placeholder{
    padding: 10px;
    color: #161950;
}
.login_btn{
    text-align: center;
    position: relative;
    display: block;
    top: 5%;
}

.wish_buttons {
    display: block;
    position: relative;
    background: #6F72B4;
    border-radius: 40px;
    width: 456px;
    height: 60px;
    border:none;
    font-size: 30px;
    color: #FFFEC9;
    margin: 0 auto;
    margin-top: 10%;
}
.signup_buttons {
    display: block;
    position: relative;
    background: #161950;
    border-radius: 40px;
    width: 456px;
    height: 60px;
    border:none;
    font-size: 30px;
    color: #FFFEC9;
    margin: 0 auto;
    top: 20px;
}